[submodule "libft"]
	path = libft
	url = git@github.com:zenix-s/libft.git
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:zenix-s/get_next_line.git
[submodule "ft_printf"]
  path = ft_printf
  url = git@github.com:zenix-s/ft_printf.git
[submodule "ft_libft"]
	path = ft_libft
	url = git@github.com:zenix-s/ft_libft.git
[submodule "push_swap"]
	path = push_swap
	url = git@github.com:zenix-s/push_swap.git
